<div class="bg-gray-100 font-sans w-full h-full m-0">
  <div class="bg-white shadow">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between py-4">

        <div class="hidden sm:flex sm:items-center">
          <a href="/admin/addhome" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">home</a>
          <a href="/admin/adduser " class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Add Users</a>
          <a href="/product/products" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Products</a>
          <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600">Contact</a>
        </div>
       <p onclick="logout()"> <button class="
        group
        p-5
        cursor-pointer 
        relative  
        text-xl 
        font-normal 
        border-0 
        flex 
        items-center 
        justify-center
        bg-transparent
         text-red-500 
         h-auto  
         w-[170px]  
         overflow-hidden   
         transition-all
         duration-100">
          <span class="
        group-hover:w-full
        absolute 
        left-0 
        h-full 
        w-5 
        border-y
        border-l
         border-red-500
           transition-all
         duration-500" >
          </span>

          <p class="group-hover:opacity-0 group-hover:translate-x-[-100%] absolute translate-x-0 transition-all
         duration-200">Logout?</p>

          <span 
            class="group-hover:translate-x-0  group-hover:opacity-100 absolute  translate-x-full opacity-0  transition-all duration-200">logout
          </span>

          <span
            class="group-hover:w-full absolute right-0 h-full w-5  border-y border-r  border-red-500 transition-all duration-500">
          </span>
        </button></p>


      <div class="block sm:hidden bg-white border-t-2 py-2">
        <div class="flex flex-col">
          <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1">Products</a>
          <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1">Marketplace</a>
          <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1">Partners</a>
          <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1">Pricing</a>
          <div class="flex justify-between items-center border-t-2 pt-2">
            <a href="#" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Sign in</a>
            <a href="#"
              class="text-gray-800 text-sm font-semibold border px-4 py-1 rounded-lg hover:text-purple-600 hover:border-purple-600">Sign
              up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const logout = async()=>{
    try{
      const res = await fetch("/admin/logout")
      const data = await res.json();
      if(data.success==true){
        alert("logout succesfully")
        window.location.href="/admin/login"
      }
      else{
        alert("logout failed")
      }
    }
    catch(err){
      alert(err)
    }
  }
</script>